<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Empire ELO Comparisons</h1>
    <div class="elo-container">
        <!-- Empire 1 -->
        <div class="empire" th:attr="data-empire-id=${empire1.id}" th:id="'empire-' + ${empire1.id}">
            <h2 th:text="${empire1.name}"></h2>
            <div class="image-container">
                <img class="ethic-image" th:alt="${ethic}" th:each="ethic : ${empire1.ethics}"
                     th:src="@{'/img/ethic/' + ${ethic} + '.png'}"/>
            </div>
            <div class="image-container">
                <img class="authority-image" th:alt="${empire1.authority}"
                     th:src="@{'/img/authority/' + ${empire1.authority} + '.png'}"/>
            </div>
            <strong><span th:text="${empire1.government.name}"></span></strong>
            <div th:each="civic : ${empire1.civics}" th:text="${civic.name}"></div>
            <!-- Hidden Form to select Empire 1 as Winner -->
            <form method="post" th:action="@{/elo}" th:id="'form-empire-' + ${empire1.id}">
                <input name="winnerId" th:value="${empire1.id}" type="hidden"/>
            </form>
        </div>

        <!-- Empire 2 -->
        <div class="empire" th:attr="data-empire-id=${empire2.id}" th:id="'empire-' + ${empire2.id}">
            <h2 th:text="${empire2.name}"></h2>
            <div class="image-container">
                <img class="ethic-image" th:alt="${ethic}" th:each="ethic : ${empire2.ethics}"
                     th:src="@{'/img/ethic/' + ${ethic} + '.png'}"/>
            </div>
            <div class="image-container">
                <img class="authority-image" th:alt="${empire2.authority}"
                     th:src="@{'/img/authority/' + ${empire2.authority} + '.png'}"/>
            </div>
            <strong><span th:text="${empire2.government.name}"></span></strong>
            <div th:each="civic : ${empire2.civics}" th:text="${civic.name}"></div>
            <!-- Hidden Form to select Empire 2 as Winner -->
            <form method="post" th:action="@{/elo}" th:id="'form-empire-' + ${empire2.id}">
                <input name="winnerId" th:value="${empire2.id}" type="hidden"/>
            </form>
        </div>
    </div>
    <script th:inline="none">
        $(document).ready(function() {
            $('.empire').click(function() {
                var empireId = $(this).data('empire-id');
                // Use the empireId to construct the form's ID dynamically and submit
                $('#form-empire-' + empireId).submit();
            });
        });
    </script>
</div>
