<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Empire Table</h1>
    <table class="empire-table view-empires-table">
        <thead>
        <tr class="empire-table-header">
            <th>Empire Name</th>
            <th>Ethics</th>
            <th>Auth.</th>
            <th>Government</th>
            <th>Elo</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:class="${empire.winClass}" th:each="empire : ${empires}">
            <td th:text="${empire.name}">Saathid Directorate</td>
            <td class="image-container">
                <img class="ethic-image" th:alt="${ethic}" th:each="ethic : ${empire.ethics}"
                     th:src="@{'/img/ethic/' + ${ethic} + '.png'}"/>
            </td>
            <td>
                <img th:alt="${empire.authority}" th:src="@{'/img/authority/' + ${empire.authority} + '.png'}"/>
            </td>
            <td th:text="${empire.government.name}">Science Directorate</td>
            <td th:text="${empire.elo}"></td>
            <td>
                <button th:onclick="'location.href=\'/empire/' + ${empire.id} + '\';'" type="button">View</button>
                <button th:onclick="'location.href=\'/edit-empire/' + ${empire.id} + '\';'" type="button">Edit</button>
                <button th:onclick="'confirmDelete(' + ${empire.id} + ');'" type="button">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
