<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h1>Empire Stats</h1>
    <table class="empire-table stats-table display" id="appearanceStatsTable" style="width:100%">
        <thead>
        <tr class="empire-table-header">
            <th>Appearance</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${appearanceStats}">
            <td th:text="${stat.name}">Appearance</td>
            <td th:text="${stat.count}">Count</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="empire-table stats-table display" id="traitStatsTable" style="width:100%">
        <thead>
        <tr class="empire-table-header">
            <th>Trait</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${traitStats}">
            <td th:text="${stat.name}">Trait</td>
            <td th:text="${stat.count}">Count</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="empire-table stats-table display" id="planetClassStatsTable" style="width:100%">
        <thead>
        <tr class="empire-table-header">
            <th>Planet Class</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${planetClassStats}">
            <td th:text="${stat.name}">Trait</td>
            <td th:text="${stat.count}">Count</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="empire-table stats-table display" id="originStatsTable" style="width:100%">
        <thead>
        <tr class="empire-table-header">
            <th>Origin</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${originStats}">
            <td th:text="${stat.name}">Origin</td>
            <td th:text="${stat.count}">Count</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="empire-table stats-table display" id="ethicStatsTable" style="width:100%">
        <thead>
        <tr class="empire-table-header">
            <th>Ethic</th>
            <th>Count (weighted)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${ethicStats}">
            <td class="image-container">
                <img alt="Ethic" class="ethic-image" th:src="@{'/img/ethic/' + ${stat.name} + '.png'}"/>
            </td>
            <td th:text="${stat.count}">Count</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="empire-table stats-table display" id="authorityStatsTable" style="width:100%">
        <thead>
        <tr class="empire-table-header">
            <th>Authority</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${authorityStats}">
            <td>
                <img alt="Empire Authority" th:src="@{'/img/authority/' + ${stat.name} + '.png'}"/>
            </td>
            <td th:text="${stat.count}">Count</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="empire-table stats-table display" id="governmentStatsTable" style="width:100%">
        <thead>
        <tr class="empire-table-header">
            <th>Government</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${governmentStats}">
            <td th:text="${stat.name}">Government</td>
            <td th:text="${stat.count}">Count</td>
        </tr>
        </tbody>
    </table>
    <br>
    <table class="empire-table stats-table display" id="civicStatsTable" style="width:100%">
        <thead>
        <tr class="empire-table-header">
            <th>Civic</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="stat : ${civicStats}">
            <td th:text="${stat.name}">Civic</td>
            <td th:text="${stat.count}">Count</td>
        </tr>
        </tbody>
    </table>
</div>
