body.main-body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #333;
}

.nav-link {
    display: inline-block;
    background-color: #afd3db;
    color: black;
    padding: 10px 15px;
    margin: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.empire-table, .empire-details {
    width: 100%;
    border-collapse: collapse;
}

.empire-table, .empire-table th, .empire-table td, empire-details, .empire-details th, .empire-details td {
    border: 1px solid #ddd;
}

.empire-table-header {
    background-color: #afd3db;
}

.empire-table th, .empire-table td, .detail-item {
    padding: 10px;
    text-align: left;
}

.empire-form label, .empire-form input, .empire-form select {
    display: block;
    margin-bottom: 10px;
}

.empire-form input, .empire-form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.submit-btn {
    background-color: #afd3db;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.action-buttons {
    margin-top: 20px;
}

.action-buttons button, .action-buttons .nav-link {
    margin-right: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #afd3db;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.action-buttons button:hover, .action-buttons .nav-link:hover {
    background-color: #0056b3;
}

.version-info {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.win-large {
    background-color: gold !important;
}

.win-medium {
    background-color: silver !important;
}

.win-small {
    background-color: #cd7f32 !important; /* Bronze color */
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%; /* Ensure it doesn't exceed the viewport width */
    height: 100vh; /* Adjust if necessary to fit the viewport height */
    overflow-x: hidden; /* Hide horizontal overflow */
}

.navbar {
    flex: 0 0 200px; /* Do not grow, do not shrink, start at 200px width */
    /* Adjust the width as needed */
    height: 100vh; /* Full height of the viewport */
    overflow-y: auto; /* Add scroll for small screens or large navs */
    /* Additional styling */
}

#content {
    flex: 1; /* Take up the remaining width */
    padding: 20px; /* Add some padding around the content */
    /* Additional styling */
}

.navbar, #content {
    overflow-y: auto; /* Allow vertical scrolling within elements if needed */
}

.elo-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: stretch; /* This makes the child elements fill the container vertically */
    width: 100%; /* This ensures the container takes up all available width */
}

.empire {
    flex: 1;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 45%;
    cursor: pointer;
    text-align:center;
}

.image-container {
    padding: 5px 0;
    text-align: center;
}

.authority-image {
    padding: 5px;
}

.ethic-image {
    display:inline-block;
    margin: 0 5px;
    width: 44px;
    height: 44px;
}
