<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Empire</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
</head>
<body class="main-body">
<div class="container">
    <h1>Create New Empire</h1>
    <form action="#" class="empire-form" method="post" th:action="@{/create-empire}" th:object="${empire}">

        <label for="name">Empire Name:</label>
        <input id="name" name="name" th:value="*{name}" type="text"/>

        <!-- Species Information -->
        <label for="speciesName">Species Name:</label>
        <input id="speciesName" name="species.name" th:value="*{species.name}" type="text"/>

        <label for="appearance">Appearance:</label>
        <select id="appearance" name="species.appearance.id">
            <option th:each="appearance : ${appearances}"
                    th:text="${appearance.name}"
                    th:value="${appearance.id}">Appearance
            </option>
        </select>

        <label for="traits">Traits:</label>
        <select id="traits" multiple="multiple" name="species.traits">
            <option th:each="trait : ${traits}"
                    th:text="${trait.name}"
                    th:value="${trait.id}">Trait
            </option>
        </select>

        <!-- Homeworld Information -->
        <label for="homeworldName">Homeworld Name:</label>
        <input id="homeworldName" name="homeworld.homeworldName" th:value="*{homeworld.homeworldName}" type="text"/>

        <label for="starName">Star Name:</label>
        <input id="starName" name="homeworld.starName" th:value="*{homeworld.starName}" type="text"/>

        <label for="planetClass">Planet Class:</label>
        <select id="planetClass" name="homeworld.planetClass.id">
            <option th:each="planetClass : ${planetClasses}"
                    th:text="${planetClass.name}"
                    th:value="${planetClass.id}">Planet Class
            </option>
        </select>

        <label for="origin">Origin:</label>
        <select id="origin" name="homeworld.origin.id">
            <option th:each="origin : ${origins}"
                    th:text="${origin.name}"
                    th:value="${origin.id}">Origin
            </option>
        </select>

        <!-- Government Information -->
        <label for="ethics">Ethics:</label>
        <select id="ethics" multiple="multiple" name="ethics">
            <option th:each="ethic : ${ethics}"
                    th:text="${ethic}"
                    th:value="${ethic}">Ethic
            </option>
        </select>

        <label for="authority">Authority:</label>
        <select id="authority" name="authority">
            <option th:each="authority : ${authorities}"
                    th:text="${authority}"
                    th:value="${authority}">Authority
            </option>
        </select>

        <label for="government">Government:</label>
        <select id="government" name="government.id">
            <option th:each="government : ${governments}"
                    th:text="${government.name}"
                    th:value="${government.id}">Government
            </option>
        </select>

        <label for="civics">Civics:</label>
        <select id="civics" multiple="multiple" name="civics">
            <option th:each="civic : ${civics}"
                    th:text="${civic.name}"
                    th:value="${civic.id}">Civic
            </option>
        </select>
        <button class="submit-btn" type="submit">Submit</button>
    </form>
    <h2>Navigation</h2>
    <a class="nav-link" href="/">Index Page</a>
    <br>
    <a class="nav-link" href="/empires">View Empires</a>
    <br>
    <a class="nav-link" href="/statistics">Empire Stats</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="/js/empireForm.js"></script>
</body>
</html>
