<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empire Table</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="main-body">
<div class="container">
    <h1>Empire Table</h1>
    <table class="empire-table">
        <thead>
        <tr class="empire-table-header">
            <th>Empire Name</th>
            <th>Government</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empire : ${empires}">
            <td th:text="${empire.name}">Saathid Directorate</td>
            <td th:text="${empire.government.name}">Science Directorate</td>
            <td>
                <button th:onclick="'location.href=\'/empire/delete/' + ${empire.id} + '\';'" type="button">Delete
                </button>
                <button th:onclick="'location.href=\'/empire/' + ${empire.id} + '\';'" type="button">View</button>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Navigation</h2>
    <a class="nav-link" href="/create-empire">Create Custom Empire</a>
</div>
<script src="/js/empireTable.js"></script>
</body>
</html>
