<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Empire Table</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js" type="text/javascript"></script>
    <script src="/js/empireTable.js"></script>
</head>
<body class="main-body">
<div class="container">
    <h1>Empire Table</h1>
    <table class="empire-table">
        <thead>
        <tr class="empire-table-header">
            <th>Empire Name</th>
            <th>Government</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="empire : ${empires}">
            <td th:text="${empire.name}">Saathid Directorate</td>
            <td th:text="${empire.government.name}">Science Directorate</td>
            <td>
                <button th:onclick="'confirmDelete(' + ${empire.id} + ');'" type="button">Delete</button>
                <button th:onclick="'location.href=\'/empire/' + ${empire.id} + '\';'" type="button">View</button>
            </td>
        </tr>
        </tbody>
    </table>
    <h2>Navigation</h2>
    <a class="nav-link" href="/">Index Page</a>
    <br>
    <a class="nav-link" href="/create-empire">Create Empire</a>
    <br>
    <a class="nav-link" href="/statistics">Empire Stats</a>
</div>
</body>
</html>
