<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Empire</title>
</head>
<body>
<h1>Create New Empire</h1>
<form action="#" method="post" th:action="@{/create-empire}" th:object="${empire}">
    <label for="name">Name:</label>
    <input id="name" name="name" th:value="*{name}" type="text"/>

    <label for="origin">Origin:</label>
    <select id="origin" name="origin">
        <option th:each="origin : ${origins}"
                th:text="${origin.name}"
                th:value="${origin.id}">Origin Name
        </option>
    </select>

    <button type="submit">Submit</button>
</form>
</body>
</html>
