<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Stellaris Empire Manager</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body class="main-body">
<div class="container">
    <h1>Welcome to Stellaris Empire Manager</h1>
    <p>Stellaris Empire Manager is a simple web application I created to help me organize and manage my custom Stellaris
        game empires. It's built using Spring Boot for straightforward backend development and Docker to keep my
        deployment environment consistent.</p>
    <p>For keeping things secure, I've integrated Spring Security. The app's data is stored in a MySQL database hosted
        on Amazon RDS, aiming for persistence and ease of access. AWS Elastic Container Registry (ECR) is where the
        Docker images are stored, and the application runs on AWS Elastic Container Service (ECS) with Fargate.</p>
    <h2>Navigation</h2>
    <a class="nav-link" href="/empires">View Empires</a>
    <br>
    <a class="nav-link" href="/create-empire">Create Empire</a>
</div>
</body>
</html>
